---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";


export async function getStaticPaths() {
  return [
    {
      params: { result: "success" },
    },
    {
      params: { result: "error" },
    },
  ];
}

const {result} = Astro.params;
const message = result === 'success' ? 'I have received your message and will get back to you later!' : 'An error has occurred, please try again!'
---

<Layout title={`Result | ${result}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label={result} class="uppercase">{result}</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>{message}</p>
      <p>Don't send duplicates!</p>
      <LinkButton
        href="javascript:history.back()"
        className="my-6 underline decoration-dashed underline-offset-8 text-lg"
      >
        Go back
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-4xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-3xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-xl sm:text-2xl;
  }
</style>
