---
import Layout from "@layouts/Layout.astro";
import ThemeToggle from "@components/ThemeToggle";
import { ArrowDownIcon } from "@components/icons";
import { SKILLS, EDUCATION, PROJECTS } from "@config";
import GetResume from "@components/GetResume.astro";
import Project from "@components/Project.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact";
import LinkButton from "@components/LinkButton.astro"

import "@styles/animate.css";
---

<Layout>
  <header>
    <h1>
      <a href="/">Code_You</a>
    </h1>
    <ThemeToggle client:load />
  </header>
  <div class="screen">
    <div></div>
    <div class="profile">
      <div class="avatar">
        <img src="/assets/images/about/self.jpg" alt="" />
      </div>
      <div class="greet">
        <h2 class="animate__animated animate__fadeInUp animate__delay-1s">
          <span>Hi, I'm Code_You </span>
          <span class="inline-block animate-wave">👋</span>
        </h2>
        <h3 class="animate__animated animate__fadeInUp animate__delay-2s">
          Full Stack Web Developer
        </h3>
        <LinkButton className="animate__animated animate__fadeInUp animate__delay-2s blog" href="/posts" >Blogs</LinkButton>
      </div>
    </div>
    <div
      class="animate__animated animate__fadeIn animate__delay-5s hidden pb-2 sm:block"
    >
      <div class="animate-bounce">
        <ArrowDownIcon />
      </div>
    </div>
  </div>
  <main class="space-y-10 pt-10">
    <section id="about-me" class="scroll-mt-16">
      <div class="hidden lg:flex justify-end mb-2">
        <GetResume />
      </div>
      <div class="lg:grid-cols-desktop grid grid-cols-1 gap-x-10 gap-y-6">
        <div class="flex justify-between gap-2 flex-wrap">
          <label class="whitespace-nowrap text-3xl font-bold lg:text-right">
            ABOUT ME
          </label>
          <div class="block lg:hidden">
            <GetResume />
          </div>
        </div>
        <div class="space-y-2">
          Hi, I'm <mark>Jia Jiwei</mark>, born in 1997. Currently working in
          Shenzhen, Guangdong. As a Web Developer, This space documents my
          professional expertise and career journey.
        </div>
        <label class="text-xl font-bold lg:text-right"> SKILLS </label>
        <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3">
          {
            SKILLS.map(skill => {
              const Logo = skill.logo;
              return (
                <li>
                  <Logo />
                  <span>{skill.name}</span>
                </li>
              );
            })
          }
        </ul>
        <label class="text-xl font-bold lg:text-right"> EDUCATION </label>
        <ul>
          {
            EDUCATION.map(item => (
              <li>
                <div class="">{item.school}</div>
                <div class="text-sm">
                  <span>{item.start}</span>
                  <span>~</span>
                  <span>{item.end}</span>
                </div>
                <p>{item.description}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section
      id="projects"
      class="lg:grid-cols-desktop grid scroll-mt-16 grid-cols-1 gap-x-10 gap-y-4"
    >
      <label class="text-3xl font-bold lg:text-right"> PROJECTS </label>
      <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        {PROJECTS.map(item => <Project {...item} />)}
      </ul>
    </section>

    <section
      id="contact"
      class="lg:grid-cols-desktop grid scroll-mt-16 grid-cols-1 gap-x-10 gap-y-4"
    >
      <label class="text-3xl font-bold lg:text-right"> CONTACT </label>
      <Contact client:load />
    </section>
  </main>
  <Footer />

  <style>
    header {
      @apply bg-skin-card w-full h-14 flex items-center px-4 sticky top-0 z-10 -mb-12 sm:-mb-14;
    }

    h1 {
      @apply flex-1 text-2xl;
    }

    .screen {
      @apply bg-skin-card w-full flex flex-col items-center justify-between sm:h-screen;
    }

    .profile {
      @apply mt-12 mb-4 sm:mt-14 sm:mb-14 flex flex-col items-center gap-y-5 gap-x-10 sm:flex-row;
    }

    .avatar {
      @apply sm:w-52 sm:h-52  h-24 w-24 rounded-full flex items-center overflow-hidden;
    }

    .avatar img {
      @apply w-full scale-150;
    }

    .greet {
      @apply space-y-2 text-center sm:text-left;
    }

    .greet h2 {
      @apply text-2xl sm:text-4xl;
    }

    .greet h3 {
      @apply text-lg sm:text-lg;
    }

    .blog {
      @apply text-2xl sm:text-4xl hover:text-skin-accent underline underline-offset-4 decoration-dashed;
    }
  </style>
</Layout>
