---
import { SKILLS, EDUCATION, PROFILE } from "@/constants";
import GetResume from "@/components/GetResume.astro";
import Icon from "./Icon.astro";
---

<section id="about-me" class="scroll-mt-16">
  <div class="hidden lg:flex justify-end mb-2">
    <GetResume />
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-[1fr_6fr] gap-x-10 gap-y-6">
    <div class="flex justify-between gap-2 flex-wrap">
      <label class="whitespace-nowrap text-3xl font-bold lg:text-right">
        ABOUT ME
      </label>
      <div class="block lg:hidden">
        <GetResume />
      </div>
    </div>
    <div class="space-y-2">
        <Fragment set:html={PROFILE.aboutMe} />
    </div>
    <label class="text-xl font-bold lg:text-right"> SKILLS </label>
    <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3">
      {
        SKILLS.map(skill => {
          const Logo = skill.logo;
          return (
            <li class="flex items-center gap-2">
              <Icon class="size-6" name={Logo} />
              <span>{skill.name}</span>
            </li>
          );
        })
      }
    </ul>
    <label class="text-xl font-bold lg:text-right"> EDUCATION </label>
    <ul>
      {
        EDUCATION.map(item => (
          <li>
            <div class="">{item.school}</div>
            <div class="text-sm">
              <span>{item.start}</span>
              <span>~</span>
              <span>{item.end}</span>
            </div>
            <p>{item.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
