---
import LinkButton from "@components/LinkButton.astro";
import { TagIcon } from "@components/icons";

export interface ProjectProps {
  title: string;
  href?: string;
  tags: string;
  desc: string;
  github?: string;
  wip?: boolean;
}

const { title, href, github, desc, tags, wip } = Astro.props;
---

<li class="project-item">
  <div class="flex items-center justify-between">
    <LinkButton className="link font-black" href={href} target="_blank"
      >{title}</LinkButton
    >
  </div>
  <p class="py-2 text-sm">{desc}</p>
  <div class="text-xs flex justify-between">
    <p>
      <label><TagIcon /></label>
      <span>{tags}</span>
    </p>
    <LinkButton href={github} className="link-icon link" target="_blank">
      Repo
    </LinkButton>
  </div>
  {wip ? <span class="wip">wip</span> : null}
</li>

<style>
  .project-item {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed block border border-skin-line p-4 relative;
  }

  .link {
    @apply hover:text-skin-accent underline underline-offset-4 decoration-dashed;
  }

  .wip {
    @apply absolute top-0 right-0 bg-skin-accent text-skin-inverted text-xs px-2 rounded-bl-md;
  }
</style>
