---
import LinkButton from "@/components/LinkButton.astro";
import Icon from "@/components/Icon.astro";

export interface ProjectProps {
  title: string;
  href?: string;
  tags: string;
  desc: string;
  github?: string;
  wip?: boolean;
}

const { title, href, github, desc, tags, wip } = Astro.props;
---

<li
  class="border p-4 flex flex-col relative"
>
  <div class="flex items-center justify-between">
    <LinkButton
      class="underline decoration-dashed underline-offset-4"
      href={href}
      target="_blank">{title}</LinkButton
    >
  </div>
  <p class="py-2 text-sm flex-1">{desc}</p>
  <div class="flex justify-between text-xs">
    <p class="flex items-center gap-1">
      <label><Icon name="Tag"  class="size-4"/></label>
      <span>{tags}</span>
    </p>
    <LinkButton href={github} class="link-icon link underline" target="_blank">
      Repo
    </LinkButton>
  </div>
  {
    wip ? (
      <span class="absolute top-0 right-0 rounded-bl-md bg-accent px-2 text-xs text-background">
        wip
      </span>
    ) : null
  }
</li>
