---
import { SITE } from "@config";
import "@styles/base.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(
  ogImage ? ogImage : SITE.ogImage,
  Astro.url.origin
).href;
---

<!DOCTYPE html>
<html lang="zh-CN" class="scroll-smooth">
  <head>
    <script is:inline>
      // 初始化主题色防止闪屏
      const saved = localStorage.getItem("theme");
      const systemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      const savedTheme = saved === "dark" ? "dark" : "light";
      const realTheme = savedTheme || (systemDark ? "dark" : "light");
      document.firstElementChild?.setAttribute("data-theme", realTheme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />
    

    <link rel='stylesheet' href='/font-face.css' /> 
    <script is:inline src="/big-picture.js"></script>
    <script is:inline>
        window.addEventListener('load', () => {
          const images = document.querySelectorAll("main img")
          Array.prototype.forEach.call(images, function (img) {
              img.addEventListener("click", function () {
                if(!BigPicture)return
                BigPicture({
                      el: img,
                  });
              });
          });
        })
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
